{% for day in data.entries -%}
{{ day.invoice_number }} {{ day.date.date() }} {{ "%5s"|format(day.worked_duration) }} {% if day.earned > 1.0 %}{{ "%7.2f"|format(day.earned) }}{% endif %}
{% endfor -%}
{{ data.summary.total_time_worked_friendly }}
